body {
    margin:0;
    overflow-y: hidden;
}

.container {
    background-color: lightblue;
    height: 200px;
    margin: auto;
    width:80vw;
    position: relative;
}

#Btn1 {
    position: relative;
    top:10px;
    z-index: 1;
}

#change {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 50px;
    left:50px;
}

.day {
    background-color: beige;
}

.night {
    background-color: navy;
}