* {
    margin: 0;
}

body {
    background-color: #e5e5e5;
}

.generalP {
    font-family: "Sahitya", serif;
    font-weight: 400;
    font-style: normal;
}

.generalH3 {
    font-family: "Sahitya", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(29, 54, 35);
}

.generalA2 {
    font-family: "Sahitya", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(29, 54, 35);
    text-decoration: none;
}

.generalA2:hover {
    color: rgb(0, 109, 24);
    cursor: pointer;
}

.generalA3 {
    font-family: "Sahitya", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(29, 54, 35);
    text-decoration: none;
}

.generalA3:hover {
    color: rgb(0, 109, 24);
    cursor: pointer;
}

.generalH1, .generalH2 {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(29, 54, 35)
}

.generalA {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(29, 54, 35)
}

.generalA:hover {
    color: rgb(0, 109, 24);
    cursor: pointer;
}

/* Home --------------------------------------------------------------------- */

#homePigeon {
    position: fixed;
    right: 0;
    bottom: 0;
}

#homeBG {
    position: fixed;
    right: -40vh;
    bottom: -7vh;
    height: 100vh;
    opacity: 10%;
}

#homeBG2 {
    position: fixed;
    left: 38vh;
    bottom: 30.8vh;
    height: 15vh;
    opacity: 40%;
    transform: scaleX(-1);
}

#homeTitle {
    position: fixed;
    font-size: 18vh;
    bottom: 14vh;
    left: 15vh;
    text-wrap: nowrap;
}

#homeLeftMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 3vh;
    line-height: 150%;
    left: 15vh;
    bottom: 45vh;
}

#homeGlobeImg {
    width: 10vh;
    position: fixed;
    right: 96vh;
    bottom: 68vh;
    opacity: 50%;
}

#homeWorld {
    position: fixed;
    right: 89vh;
    bottom: 64vh;
    font-size: 3vh;
}

#homeWorld:hover + #homeGlobeImg {
    opacity: 30%;
}

#homePosts {
    position: fixed;
    right: 36vh;
    bottom: 56vh;
    font-size: 5vh;
}

/* Pigeon Posts --------------------------------------------------------------------- */

#ppImgs {
    position: static;
    height: 18vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.ppBG {
    opacity: 10%;
    padding-right: 1vh;
}

#ppHeader {
    position: sticky;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    box-sizing: border-box;
    top: 0;
    z-index: 2;
    background-color: #e5e5e5;
}

#ppH1 {
    font-size: 3.6vh;
}

#ppHeaderMenu {
    display: flex;
    align-items: center;
    font-size: 3.4vh;
}

#ppFilterText {
    position: relative;
}

#ppFilterMenu {
    display: flex;
    position: absolute;
    width: calc(5vw + 8vh);
    height: 23vh;
    background-color: rgb(29, 54, 35);
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    top: -23vh;
}

#ppFilterMenuContainer {
    position: absolute;
    width: calc(5vw + 8vh);
    height: 23vh;
    top: 8vh;
    translate: -2.5vw 0;
    overflow: hidden;
}

#ppForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ppFilterMenuItems {
    width: 100%;
    padding: 0 calc(0.5vw + 0.8vh);
    box-sizing: border-box;
    text-align: center;
    padding: 0.7vh 0;
    font-size: 2.4vh;
    color: white;
}

#ppFilterMap:hover {
    background-color: rgb(0, 109, 24);
    color:rgb(255, 255, 255);
}

#ppFilterMap:hover +#ppFilterDivider{
    opacity: 0;
}

#ppFilterDivider {
    background-color: #fff;
    height: 0.1vh;
    width: 80%;
}

#ppFilterCover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0%;
    z-index: 1;
}

#ppCity {
    width: 80%;
    height: 5.6vh !important;
    margin-bottom: 0 !important;
}

#ppCity::placeholder {
    position: absolute;
    top: 0.3vh;
    font-size: 1.6vh !important;
    padding: 0 1.2vh;
}

#ppSubmit {
    margin-top: 1.2vh;
    height: 4vh !important;
    width: 80%;
    cursor: pointer;
}

#ppSubmit:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 109, 24);
}

.ppHeaderMenuItems {
    margin: 0 2.5vw;
}

#ppMain {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 84vw;
    margin: 0vh 8vw;
    z-index: 0;
}

.ppMainPost {
    position: relative;
    margin: 0.5vw;
    margin-top: 0;
    margin-bottom: 1vw;
    box-sizing: border-box;
    width: 20vw;
    height: 20vw;
    background-color: rgb(255, 255, 255);
    text-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ppMainPostContent {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ppMainPostContent {
    position: absolute;
    font-size: 1.4vw;
    text-align: center;
}

.ppMainPostCover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black;
    cursor: pointer;
}

.ppMainPostCover:hover {
    opacity: 15%;
}

#wpBackCover {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0);
    opacity: 0%;
}

#wpSection {
    position: fixed;
    display: block;
    justify-content: center;
    right: -40vw;
    top: 0;
    width: 40vw;
    height: 100vh;
    z-index: 4;
    background-color: #e5e5e5;
    overflow-y: scroll;
    scrollbar-width: none;
}

#wpCrossImg {
    position: absolute;
    left: 2.5vw;
    top: 2vw;
    width: 2vw;
    cursor: pointer;
}

#wpH2 {
    margin-top: 15vh;
    text-align: center;
    font-size: 2vw;
}

#wpForm {
    display: none;
    padding: 3vw;
    box-sizing: border-box;
    flex-direction: column;
}

#wpTitle {
    width: 34vw;
}

#wpFormCityName {
    display: flex;
    justify-content: space-between;
}

#wpCity {
    width: 16.75vw;
}

#wpName {
    width: 16.75vw;
}

#wpTitle,#wpCity,#wpName,#wpContent,#wpSubmit,#wpFormFileLabel,#ppCity,#ppSubmit {
    height: 2vw;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    border-radius: 0.5vh;
    margin-bottom: 0.5vw;
    outline: none;
}

#wpTitle::placeholder,#wpCity::placeholder,#wpName::placeholder,#wpContent::placeholder,#ppCity::placeholder {
    color: rgba(0, 0, 0, 0.55);
    font-family: "Sahitya", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0.2vh;
    font-size: 0.9vw;
    text-align: left;
    text-wrap: wrap;
}

#wpContent {
    resize: none;
    height: 15vw;
}

#wpContent::placeholder {
    line-height: 1.8vw;
}

#wpFormFileLabel {
    display: flex;
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    font-size: 0.9vw;
}

#wpFile {
    max-width: 18vw;
    margin-left: 0.5vw;
}

#wpSubmit {
    margin-top: 0.5vw; 
    margin-left: 24vw;
    width: 10vw;
    height: 3vw;
    cursor: pointer;
    background-color: rgb(70, 94, 74);
    color: rgb(255, 255, 255);
}

input[type=submit] {
    font-family: "Sahitya", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2vw;
}

#wpSubmit:hover {
    background-color: rgb(105, 130, 111);
}

/* About this website --------------------------------------------------------------------- */

#awBG {
    position: fixed;
    width: 220vh;
    right: -115vh;
    bottom: -90vh;
    opacity: 10%;
}

#awH1 {
    position: fixed;
    left: 10vw;
    bottom: 45vh;
    width: 30vw;
}

#awP {
    position: fixed;
    left: 10vw;
    bottom: 15vh;
    width: 30vw;
    height: 28vh;
    font-size: 2vh;
}

/* View Post --------------------------------------------------------------------- */

#pvText {
    position: fixed;
    height: 100vh;
    width: 50vw;
    padding-left: 15vw;
    padding-right: 5vw;
    padding-top: 20vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#pvH2 {
    font-size: 1.5vw;
    align-self: center;
    margin-bottom: 1vw;
    text-align: center;
}

.pvInfo {
    font-size: 1vw;
    align-self: flex-end;
    color:#262626;
}

#pvContent {
    margin-top: 1.5vw;
    max-width: 30vw;
    overflow-wrap:normal ;
}

#pvGallery {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50vw;
    padding-left: 5vw;
    padding-right: 15vw;
    padding-top: 10vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.pvPics {
    padding: 2vh 0;
}

/* Contact & Links --------------------------------------------------------------------- */

#contactH1 {
    font-size: 5vh;
    padding-bottom: 5vh;
}

#contactMyInfo {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 55vw;
    top: 18vh;
}

#contactMoreRsc {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: left;
    left: 55vw;
    top: 52vh;
}

.contactH2 {
    font-size: 3.5vh;
    margin-bottom: 1.5vh;
}

.contactA {
    font-size: 2.5vh;
}

#contactBG1 {
    rotate: 90deg;
    width: 75vh;
    position: fixed;
    bottom: -20vh;
    left: -11.4vh;
    opacity: 10%;
}

#contactBG2 {
    rotate: -90deg;
    width: 75vh;
    position: fixed;
    top: -20vh;
    right: -11.4vh;
    opacity: 10%;
}

/* About Pigeons --------------------------------------------------------------------- */

#apIntroSection {
    position: fixed;
    width: 40vw;
    padding-left: 7vw;
    padding-right: 5vw;
    padding-bottom: 3vw;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#apH1 {
    font-size: 3.2vh;
}

#apH2 {
    font-size: 2.7vh;
    margin-bottom: 2vh;
}

#apIntro {
    margin-top: 3vh;
    max-width: 40vw;
    overflow-wrap:normal;
    font-size: 2vh;
}

#apIntroSource {
    margin-top: 3vh;
    max-width: 40vw;
    overflow-wrap:normal;
    color: rgb(65, 65, 65);
    font-size: 1.5vh;
}

#apSpeciesSection {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 60vw;
    padding-left: 3vw;
    padding-right: 7vw;
    padding-top: 5vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.apSpeciesCard {
    padding: 3vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.apSpeciesTitle {
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.apSpeciesContent {
    font-size: 2vh;
}

.apSpeciesImg {
    width: 25vh;
    height: 25vh;
    object-fit: cover;
    margin-left: 3vh;
}

#apBG {
    position: fixed;
    width: 60vh;
    opacity: 10%;
    left: -10vh;
    top: -24vh;
    z-index: -1;
}

/* Pigeons in the world --------------------------------------------------------------------- */

#mapH1 {
    height: 15vh;
    padding-top: 6vh;
    padding-left: 15vh;
    font-size: 4vh;
    box-sizing: border-box;
}

#mapContainer {
    position: absolute;
    top: 15vh;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}

#map {
    position: absolute;
    cursor: grab;
    transform-origin: center center;
    user-select: none;
    height: 100%
}

#mapImg{
    opacity: 20%;
    height: 100%;
}

.mapIconContainer{
    width: 3vh;
    height: 3vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapIcon{
    height: 3vh;
    width: 3vh;
    border-radius: 2vh;
    position: absolute;
    background-color: rgb(29, 54, 35);
}

.mapIcon:hover {
    background-color: rgb(0, 109, 24);
    cursor: pointer;
}

.mapIcon:hover + .mapIconText {
    color: rgb(0, 109, 24);
}

.mapIconLocator {
    position: absolute;
    width: 0;
    height: 0;
}

.mapIconText {
    position: absolute;
    text-wrap: none;
    min-width: 10vh;
    color: rgb(29, 54, 35);
    bottom: 3.5vh;
    text-align: center;
    pointer-events: none;
}

#mapBG {
    position: fixed;
    width: 120vh;
    top: -69vh;
    right: -20vh;
    opacity: 10%;
}

