<form method="POST" action="submit" enctype="multipart/form-data"> 
    <!-- action leads to the route, enctype makes sure the uploaded images show up -->
    <input type="text" name="username">
    <input type="color" name="color">
    <input type="file" name="image">
    <input type="submit" name="sb" value="send message">
    <!-- submit button is always needed so that the form is executed, value is the text in the button/text box -->
</form>