<html>
<head>
    <title>About pigeons</title>
</head>
<body>
    <section id="apIntro">
        <h1 class="generalH1">Do you really know about pigeons?</h1>
        <p class="generalP"></p>
    </section>
    <section id="apSpecies"">
        <h2 class="generalH2">Common Species</h2>
        <p class="generalP"></p>
    </section>
    <img id="apBG1">
</body>
</html>