<html>
<head>
    <title>About this website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Sahitya:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="generalH1" id="awH1">About this site</h1>
    <p id="awP" class="generalP"></p>
    <img src="pigeon.svg" id="awBG">
</body>
</html>