<html>
<head>
    <title>About this website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Sahitya:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="generalH1" id="awH1">About this site</h1>
    <p id="awP" class="generalP">This is a pigeon website. This is a website about pigeons. This is a website that hopes to help humans know more about pigeons. In this website you will learn about the history and species of pigeons, and useful resource to know more about them or do something for them. Most importantly, you can share you story with pigeons! We would love to see people around the world share their stories with pigeons in the city, and help build the global pigeon community! <br> <br>Lastly, this website is made by pigeons.</p>
    <img src="pigeon.svg" id="awBG">
</body>
</html>