<html>
<head>
    <title>About pigeons</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Sahitya:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section id="apIntroSection">
        <h1 class="generalH1" id="apH1">Do you really know about pigeons?</h1>
        <p class="generalP" id="apIntro">The primary ancestor of city-dwelling pigeons is the rock dove (Columba livia), native to regions spanning Europe, North Africa, and Western Asia. These birds were domesticated thousands of years ago, serving various roles such as messengers, sources of food, and even religious symbols.</p>
        <p class="generalP" id="apIntro">As human civilizations expanded, domesticated pigeons were intentionally released or escaped, leading to the establishment of feral populations. These birds thrived in urban environments, finding ample food sources and nesting sites on buildings that mimicked their natural cliffside habitats. Their presence in cities became so pronounced that they were often referred to as "city doves" or "street pigeons."</p>
        <p class="generalP" id="apIntroSource">Source: Wikipedia, iNaturalist, ChatGPT</p>
    </section>
    <section id="apSpeciesSection">
        <h2 class="generalH2" id="apH2">Common Species</h2>
        <div class="apSpeciesCard">
            <div>
                <H3 class="generalH3 apSpeciesTitle">Rock Pigeon (Columba livia)</H3>
                <p class="generalP apSpeciesContent">The rock dove (Columba livia), also known as the common pigeon, is a member of the Columbidae family. Wild rock doves are pale grey with black wing bars, while domesticated pigeons, which descended from them, come in a variety of colors and patterns. These birds are found in open environments and often nest on cliffs. Originating from Southern Europe, North Africa, and Western Asia, they are abundant worldwide, with populations of up to 120 million, and are considered a least-concern species by the IUCN.            </p>
            </div>
            <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/466776975/medium.jpg" class="apSpeciesImg">
        </div>
        <div class="apSpeciesCard">
            <div>
                <H3 class="generalH3 apSpeciesTitle">Wood Pigeon (Columba palumbus)</H3>
                <p class="generalP apSpeciesContent">The common wood pigeon (Columba palumbus), also known as simply wood pigeon, is a large species in the dove and pigeon family (Columbidae), native to the western Palearctic. It belongs to the genus Columba, which includes closely related species such as the rock dove (Columba livia). It has a flexible diet, predominantly feeding on vegetable matter, including cereal crops, leading to them being regarded as an agricultural pest. Wood pigeons are extensively hunted over large parts of their range, but this does not seem to have a great impact on their population.            </p>
            </div>
            <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/108521205/medium.jpg" class="apSpeciesImg">
        </div>
        <div class="apSpeciesCard">
            <div>
                <H3 class="generalH3 apSpeciesTitle">Eurasian Collared-Dove (Streptopelia decaocto)</H3>
                <p class="generalP apSpeciesContent">The Eurasian Collared-Dove (Streptopelia decaocto) is a medium-sized, pale gray dove with a distinctive black collar on its neck. Originally native to Europe and Asia, it has expanded globally, reaching North America in the late 20th century. It thrives in urban and suburban environments, feeding primarily on seeds and grains. Known for its repetitive "coo-COO-coo" call, it breeds year-round in warm climates, often raising multiple broods. It competes with native dove species for food and nesting sites but is less aggressive than Rock Pigeons. Despite its rapid expansion, it is generally well-integrated into urban ecosystems and is often associated with peace in cultural symbolism.            </p>
            </div>
            <img src="https://static.inaturalist.org/photos/61919353/medium.jpeg" class="apSpeciesImg">
        </div>
    </section>
    <img id="apBG" src="pigeon.svg">
    <a class="toHome" id="apToHome" href="/">
        <img src="pigeonGreen.svg" class="toHomeBG"></img>
        <h3 class="toHomeText generalH2">HOME</h3>
    </a>
</body>
</html>