<html>
<head>
    <title>Contact & Links</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Sahitya:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section id="contactMyInfo">
        <h1 class="generalH1" id="contactH1">Contact & Links</h1>
        <h2 class="generalH2 contactH2">Head Pigeon's Contact Info</h2>
        <a class="generalA3 contactA" href="https://www.instagram.com/quantum_drill/">Instagram</a>
        <a class="generalA3 contactA" href="mailto:yl8901@nyu.com">yl8901@nyu.edu</a>
    </section>
    <section id="contactMoreRsc">
        <h2 class="generalH2 contactH2">More resources about pigeons!</h2>
        <a class="generalA3 contactA" href="https://nationalpigeonassociation.org/">National Pigeon Association GB</a>
        <a class="generalA3 contactA" href="https://www.wildbirdfund.org/">Wild Bird Fund</a>
        <a class="generalA3 contactA" href="https://www.pigeonrescue.org/">Palomacy — It’s Pigeon & Dove Diplomacy</a>
        <a class="generalA3 contactA" href="https://www.olivesplace.org/">Olive's Place</a>
    </section>
    <img id="contactBG1" src="pigeon.svg">
    <img id="contactBG2" src="pigeon.svg">
    <a class="toHome" id="contactToHome" href="/">
        <img src="pigeonGreen.svg" class="toHomeBG"></img>
        <h3 class="toHomeText generalH2">HOME</h3>
    </a>
</body>
</html>