<html>
<head>
    <title>Contact & Links</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Sahitya:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="generalH1" id="contactH1">Contact & Links</h1>
    <section id="contactMyInfo">
        <h2 class="generalH2 contactH2">My Contact Info</h2>
        <p class="generalP"></p>
    </section>
    <section id="contactMoreRsc">
        <h2 class="generalH2 contactH2">More resources about pigeons!</h2>
        <p class="generalP"></p>
    </section>
    <img id="contactBG1">
    <img id="contactBG2">
</body>
</html>