<html>
<head>
    <title>Contact & Links</title>
</head>
<body>
    <h1 class="generalH1">Contact & Links</h1>
    <section id="contactMyInfo">
        <h2 class="generalH2">My Contact Info</h2>
        <p class="generalP"></p>
    </section>
    <section id="contactMoreRsc">
        <h2 class="generalH2">More resources about pigeons!</h2>
        <p class="generalP"></p>
    </section>
    <img id="contactBG1">
    <img id="contactBG2">
</body>
</html>