<html>
<head>
    <title>Pigeon Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Sahitya:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <h1 class="generalH1" id="homeTitle">The Pigeon Website</h1>
    <img src="pigeon.svg" id="homeBG2">
    <div id="homePigeon">
        <img src="pigeon.svg" id="homeBG">
        <div id="homeGlobeMenu">
            <a href="/pigeons-in-the-world" id="homeWorld" class="generalA">Pigeons in the world</a>
            <img id="homeGlobeImg" src="globe.png">
            
        </div>
        <a href="/pigeon-stories" id="homePosts" class="generalA">Pigeon Stories</a>
    </div>
    <div id="homeLeftMenu">
        <a href="/about-this-website" id="homeAboutWebsite" class="generalA">About this website</a>
        <a href="/about-pigeons" id="homeAboutPigeons" class="generalA">About pigeons</a>
        <a href="/contact-and-links" id="homeContact" class="generalA">Contact & Links</a>
    </div>
    
</body>
</html>