<html>
<head>
    <title>Pigeon Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>The Pigeon Website</h1>
    <div id="homePigeon">
        <img id="homeBG">
        <div id="homeGlobeMenu">
            <img id="homeGlobeImg" src="">
            <a href="" id="homeWorld">Pigeons in the world</a>
        </div>
        <a href="/posts" id="homePosts">Pigeon Posts</a>
    </div>
    <div id="homeLeftMenu">
        <a href="aboutWeb.ejs" id="homeAboutWebsite">About this website</a>
        <a href="" id="homeAboutPigeons">About pigeons</a>
        <a href="/contact" id="homeContact">Contact & Links</a>
    </div>
    
</body>
</html>