<html>
<head>
    <title>Pigeons in the world</title>
</head>
<body>
    <h1 class="generalH1">Pigeons in the world</h1>
    <img id="mapBG">
    <section id="map">
        <img id="mapImg">

    </section>
</body>
</html>