<html>
<head>
    <title>Pigeon Posts</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Sahitya:wght@400;700&display=swap" rel="stylesheet">
    <script src="anime.min.js"></script>
    
</head>
<body>
    <form method="GET" action="edit-post-submit">
        <input type="text" placeholder="index" name="removeIndex">
        <input type="submit" name="submit">
    </form>
</body>
</html>