<html>
<head>
    <title>Pigeon Posts</title>
</head>
<body>
    <div id="ppImgs">
        <img id="ppBG">
    </div>
    <header>
        <h1 class="generalH1" id="ppH1">Pigeon Posts</h1>
        <menu>
            <p id="ppFilter">Filter</p>
            <a id="ppWritePost">Write a post</a>
        </menu>
    </header>
    <main id="ppMain">

    </main>
    <section id="wpSection">
    <h2>Write about your pigeon story!</h2>
    <form method="POST" action="submit" enctype="multipart/form-data">
        <input type="text" name="wpTitle" id="wpTitle" placeholder="Title">
        <label for="wpCity">Select your city</label>
        <input list="wpCitiesList" name="wpCity" id="wpCity">
        <datalist id="wpCitiesList">
            <option value="New York">
        </datalist>
        <label for="wpFile">Upload pictures</label>
        <input type="file" name="wpFile" id="wpFile" multiple>
        <textarea name="wpContent" id="wpContent" placeholder="Write your content here"></textarea>
        <input type="submit" name="wpSubmit" id="wpSubmit">
    </form> 
    <div id="wpSubmitted">
        <h2>Submitted!</h2>
        <a href="">View</a>
    </div>
</section>
</body>
</html>