<html>
<head>
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="formContainer">
        <form method="GET" action="/send">
            
        </form>
    </div>
</body>
</html>