<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script type="importmap">
        {"imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.175.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.175.0/examples/jsm/"
        }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="home.js" type="module"></script>
    <title>Cyber Afterlife</title>
</head>
<body id="hmBG">
    <canvas id="hmCanvas"></canvas>
    <div id="hmH">
        <div id="hmHContainer">
            <h1 class="pFont" id="hmH1">Welcome to the cyber afterlife</h1>
            <h2 class="pFont" id="hmH2">Click to continue</h2>
        </div>
        <div id="hmOptionsContainer">
            <div id="hmHorizontalContainer">
                <a href="/roam" class="pFont generalLink" id="hmRoam">Roam the space</a>
                <a href="/trace" class="pFont generalLink" id="hmTrace">Leave your trace</a>
            </div>
            <p class="pFont" id="hmAbout">About</p>
        </div>
    </div>
    <div id="hmAboutContainer">
        <div id="hmAboutContent" class="pFont">This is where you go after you are dead, not the Heaven or the Hell, but the Cyberspace. In this space, you are nothing but just a node in the whole internet. You don’t have your physical body and the ability to do any interaction other than sharing and browsing content in the space. It's a place full of people’s stories and memories. Share something that is meaningful to you and something that you want to leave to the world when you still have the chance.</div>
        <p class="pFont" id="hmAboutReturn">Back</p>
    </div>
    <div class="scanlinesContainer"><div class="scanlines"></div></div>
</body>
</html>