<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script type="importmap">
        {"imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.175.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.175.0/examples/jsm/"
        }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="home.js"></script>
    <title>Cyber Afterlife</title>
</head>
<body id="hmBG">
    <div id="hmH">
        <div id="hmHContainer">
            <h1 class="pFont" id="hmH1">Welcome to the cyber afterlife</h1>
            <h2 class="pFont" id="hmH2">Click to continue</h2>
        </div>
        <div id="hmOptionsContainer">
            <div id="hmHorizontalContainer">
                <a href="/roam" class="pFont generalLink" id="hmRoam">Roam the space</a>
                <a href="/trace" class="pFont generalLink" id="hmTrace">Leave your trace</a>
            </div>
        </div>
    </div>
    <
    <div class="scanlinesContainer"><div class="scanlines"></div></div>
</body>
</html>