<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script type="importmap">
        {"imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.175.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.175.0/examples/jsm/"
        }}
    </script>
    <script>
        const data = <%- JSON.stringify(data) %>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/noisejs@2.1.0/index.min.js"></script>
    <script src="roam.js" type="module"></script>
    <title><%= page.title%></title>
</head>
<body id="roamBG">
    <canvas id="roamCanvas"></canvas>
    <div id="roamHUD">
        <p id="roamHUDCenter" class="lFont">[E]View</p>
    </div>
    <div class="escMenu">
        <p class="pFont escMenuTitle">Menu</p>
        
            <% if (loginStatus) { %>
                <a href="/logout" class="pFont generalLink escMenuItems">Logout</a>
            <% } else { %>  
                <a href="/login" class="pFont generalLink escMenuItems">Login</a>
            <% } %>
        <% if (page.type==="roam"){%>
            <a href="/collection" class="pFont generalLink escMenuItems">My Collections</a>
        <% } else { %>
            <a href="/roam" class="pFont generalLink escMenuItems">Roam the space</a>
        <% } %>
        <a href="/trace" class="pFont generalLink escMenuItems">Leave your trace</a>
        <a href="/" class="pFont generalLink escMenuItems">Home Page</a>
    </div>
    <div id="roamViewContainer">
        <div id="roamViewBorder">
            <p id="roamViewText" class="lFont"></p>
        </div>
    </div>
    <div class="scanlinesContainer"><div class="scanlines"></div></div>
</body>
</html>