<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script type="importmap">
        {"imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.175.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.175.0/examples/jsm/"
        }}
    </script>
    <script>
        const data = <%- JSON.stringify(data) %>;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="roam.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noisejs/2.1.0/perlin.min.js"></script>
    <title>Cyber Afterlife</title>
</head>
<body id="roamBG">
    <canvas id="roamCanvas"></canvas>
    <div id="roamHUD">
        <p id="roamHUDCenter" class="lFont">[E]View</p>
    </div>
    <div class="escMenu">
        <p class="pFont escMenuTitle">Menu</p>
        <a href="/trace" class="pFont generalLink escMenuItems">Leave your trace</a>
        <a href="/" class="pFont generalLink escMenuItems">Home Page</a>
    </div>
    <div id="roamViewContainer">
        <div id="roamViewBorder">
            <p id="roamViewText" class="lFont"></p>
        </div>
    </div>
    <div class="scanlinesContainer"><div class="scanlines"></div></div>
</body>
</html>