<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script type="importmap">
        {"imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.175.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.175.0/examples/jsm/"
        }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="upload.js" type="module"></script>
    <title>Leave your trace</title>
</head>
<body id="upBG">
    
    <form method="post" action="/upload" enctype="multipart/form-data" id="upForm">
        <div id="upBoxes">
            <div id="upBoxTitle">
                <h1 id="upH1" class="pFont">Leave your trace</h1>
            </div>
            <div id="upBoxDescription">
                <p id="upDescription" class="pFont">Here you can upload what you feel meaningful to you and they will be presented in a form of 3D models, floating in the space.</p>
            </div>
            <div id="upBoxFileType">
                <h2 id="upH2FileType" class="pFont">Choose file type</h2>
                <div id="upFileTypes">
                    <label for="radioImage" class="pFont upP"><input type="radio" id="radioImage" name="fileType" value="image">Image</label>
                    <label for="radioText" class="pFont upP"><input type="radio" id="radioText" name="fileType" value="text">Text</label>
                    <label for="radioAudio" class="pFont upP"><input type="radio" id="radioAudio" name="fileType" value="audio">Audio</label>
                    <label for="radioVideo" class="pFont upP"><input type="radio" id="radioVideo" name="fileType" value="video">Video</label>
                    <label for="radioLink" class="pFont upP"><input type="radio" id="radioLink" name="fileType" value="link">Web Link</label>
                    <label for="radioModel" class="pFont upP"><input type="radio" id="radioModel" name="fileType" value="model">3D Model (OBJ)</label>
                    <label for="radioTextImage" class="pFont upP"><input type="radio" id="radioTextImage" name="fileType" value="textImage">Text + Image</label>
                </div>
            </div>
            <div id="upBoxTextFile">
                <h2 id="upH2TextFile" class="pFont">Upload File</h2>
                <div id="upTextFile">
                    <textarea name="text" value="N/A" placeholder="Write your text here" id="upTextArea" class="pFont"></textarea>
                    <input type="file" name="fileUpload" id="upFileUpload" multiple>
                </div>
            </div>
            <div id="upBoxVisualization">
                <h2 id="upH2ModelType" class="pFont">Choose model type</h2>
                <div id="upModelTypes">
                    <label for="radioModel1" id="radioLabelModel1" class="pFont upP upModelTypeLabel">
                        <input type="radio" id="radioModel1" name="modelType" value="model1">
                        <span id="radioTitleModel1"></span>
                    </label>
                    <label for="radioModel2" id="radioLabelModel2" class="pFont upP upModelTypeLabel">
                        <input type="radio" id="radioModel2" name="modelType" value="model2">
                        <span id="radioTitleModel2"></span>
                    </label>
                    <label for="radioModel3" id="radioLabelModel3" class="pFont upP upModelTypeLabel">
                        <input type="radio" id="radioModel3" name="modelType" value="model3">
                        <span id="radioTitleModel3"></span>
                    </label>
                </div>
                <h2 id="upH2ModelOptions" class="pFont">Model Options</h2>
                <div id="upModelOptions">
                    <p id="sliderLabelShininess" class="pFont upP">Shininess</p>
                    <input type="range" min="0" max="80" id="sliderShininess" name="shininess" value="40">
                </div>
                <h2 id="upH2ModelColor" class="pFont">Color</h2>
                <div id="upModelColor">
                    <input type="color" id="colorPicker" name="color" value="#dddddd">
                </div>
            </div>
            <div id="upBoxPreview">
                <canvas id="upCanvas"></canvas>
                <h2 id="upH2Preview" class="pFont">Model Preview</h2>
                
            </div>
            <div id="upBoxSubmit">
                <input type="submit" value="Submit" id="upSubmit">
            </div>
        </div>
    </form>
    <p class="pFont escHint">[esc]Menu</p>
    <div class="escMenu">
        <p class="pFont escMenuTitle">Menu</p>
        <a href="/roam" class="pFont generalLink escMenuItems">Roam the space</a>
        <a href="/collection" class="pFont generalLink escMenuItems">My Collections</a>
        <a href="/" class="pFont generalLink escMenuItems">Home Page</a>
    </div>
    <div class="scanlinesContainer"><div class="scanlines"></div></div>
</body>
</html>